.main {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    font-size: 12vw;
    position: absolute;
    top: 15%;
    left: 23.21%;
    right: 23.21%;
}

.bio {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background-color: #FFEEF4 !important;
}
